/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 160, icons/*.png */
.icons-sprite, .icons-arr-down, .icons-calendar, .icons-cart-big, .icons-clock, .icons-compare, .icons-fb-grey, .icons-flag-cz, .icons-heart, .icons-insta-grey, .icons-logo, .icons-mail, .icons-search, .icons-tel, .icons-user, .icons-yt-grey {
  background-image: url('../img/icons-s59e5d6616f.png');
  background-repeat: no-repeat;
  display: inline-block;
}

/* line 84, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-arr-down {
  background-position: 0 0;
  height: 15px;
  width: 15px;
}

/* line 84, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-calendar {
  background-position: 0 -15px;
  height: 30px;
  width: 34px;
}

/* line 84, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-cart-big {
  background-position: 0 -45px;
  height: 50px;
  width: 55px;
}

/* line 84, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-clock {
  background-position: 0 -95px;
  height: 30px;
  width: 24px;
}

/* line 84, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-compare {
  background-position: 0 -125px;
  height: 25px;
  width: 29px;
}

/* line 84, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-fb-grey {
  background-position: 0 -150px;
  height: 45px;
  width: 45px;
}

/* line 84, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-flag-cz {
  background-position: 0 -195px;
  height: 22px;
  width: 32px;
}

/* line 84, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-heart {
  background-position: 0 -217px;
  height: 25px;
  width: 24px;
}

/* line 84, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-insta-grey {
  background-position: 0 -242px;
  height: 45px;
  width: 45px;
}

/* line 84, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-logo {
  background-position: 0 -287px;
  height: 86px;
  width: 256px;
}

/* line 84, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-mail {
  background-position: 0 -373px;
  height: 25px;
  width: 25px;
}

/* line 84, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-search {
  background-position: 0 -398px;
  height: 23px;
  width: 24px;
}

/* line 84, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-tel {
  background-position: 0 -421px;
  height: 25px;
  width: 25px;
}

/* line 84, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-user {
  background-position: 0 -446px;
  height: 25px;
  width: 25px;
}

/* line 84, ../../../../../../Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-yt-grey {
  background-position: 0 -471px;
  height: 45px;
  width: 45px;
}
