<footer class="footer centered-pane">
    <div class="top">

        <div class="footer-contact">
            <div class="contact">
                <h3>Kontakty</h3>
                <div class="addr">
                    VISIMPEX a.s.<br>
                    Seifertova 33, 750 02  Přerov
                </div>
                <div class="tel">+420 581 808 401 <br>+420 603 145 536</div>
                <div class="email"><a href="mailto:info@visimpex.cz">info@visimpex.cz</a></div>
            </div>
            <div class="social">
                <ul>
                    <li><a href="fb" class="fb icons-fb-grey"></a></li>
                    <li><a href="insta" class="fb icons-insta-grey"></a></li>
                    <li><a href="youtube" class="fb icons-yt-grey"></a></li>
                </ul>
            </div>
        </div>

        <div class="footer-nav">
            <div class="panel">
                <h3>Nakupování</h3>
                <ul>
                    <li><a href="#">Obchodní podmínky</a></li>
                    <li><a href="#">Možnosti platby</a></li>
                    <li><a href="#">Doprava</a></li>
                    <li><a href="#">Jak nakupovat</a></li>
                    <li><a href="#">Jak reklamovat</a></li>
                    <li><a href="#">Nejčastější dotazy</a></li>
                </ul>
            </div>
            <div class="panel">
                <h3>Nakupování</h3>
                <ul>
                    <li><a href="#">Obchodní podmínky</a></li>
                    <li><a href="#">Možnosti platby</a></li>
                    <li><a href="#">Doprava</a></li>
                    <li><a href="#">Jak nakupovat</a></li>
                    <li><a href="#">Jak reklamovat</a></li>
                    <li><a href="#">Nejčastější dotazy</a></li>
                </ul>
            </div>
            <div class="panel">
                <h3>Nakupování</h3>
                <ul>
                    <li><a href="#">Obchodní podmínky</a></li>
                    <li><a href="#">Možnosti platby</a></li>
                    <li><a href="#">Doprava</a></li>
                    <li><a href="#">Jak nakupovat</a></li>
                    <li><a href="#">Jak reklamovat</a></li>
                    <li><a href="#">Nejčastější dotazy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="info">
            <div class="online-pay">
                <img src="img/cards.jpg">
            </div>
        </div>
        <div class="copy">
            VISIMPE 2017 Všechna práva vyhrazena<br>
            Created by <a href="redenge.cz">REDENGE</a>
        </div>
    </div>
</footer>