<header class="header clearfix">
    <div class="centered-pane">

        <div class="mobile-menu-holder">
            <nav role="navigation">
                <div id="menuToggle">
                    <input type="checkbox" />

                    <!--
                    Some spans to act as a hamburger.
                    -->
                    <span></span>
                    <span></span>
                    <span></span>

                    <ul id="menu">
                        <a href="#"><li>Home</li></a>
                        <a href="#"><li>About</li></a>
                        <a href="#"><li>Info</li></a>
                        <a href="#"><li>Contact</li></a>
                        <a href="https://erikterwan.com/" target="_blank"><li>Show me more</li></a>
                    </ul>
                </div>
            </nav>
            <span class="icons-cart-small"></span>
            <span class="icons-user"></span>
            <span class="icons-search"></span>
        </div>

        <nav class="top-navs clearfix">
            <ul class="contact-nav">
                <li class="tel"><span class="icons-tel"></span><a href="#">+420 516 101 101</a></li>
                <li class="email"><span class="icons-mail"></span><a href="#">info@visimpex.cz</a></li>
            </ul>

            <ul class="shop-nav">
                <li class="fav"><span class="icons-heart"></span><a href="#">Oblíbené</a></li>
                <li class="compare"><span class="icons-compare"></span><a href="#">Mé porovnání</a></li>
                <li class="history"><a href="#"><span class="number">4</span>Prohlíželi jste</a></li>
            </ul>

            <ul class="user-nav">
                <li class="lang dropdown">
                    <a class="CZ active"><span class="icons-flag-cz"></span><span class="icons-arr-down"></span></a>
                    <ul class="dropdown-items">
                        <li><a href="#" class="CZ"></a></li>
                        <li><a href="#" class="SK"></a></li>
                    </ul>
                </li>

                <li class="currency dropdown">
                    <a href="#" class="CZ">CZK<span class="icons-arr-down"></span></a>
                    <ul class="dropdown-items">
                        <li><a href="#" class="CZ">SVK</a></li>
                        <li><a href="#" class="SK">E</a></li>
                    </ul>
                </li>

                <li class="login"><span class="icons-user"></span><a href="#">Login</a></li>
                <li class="registration"><a href="#">Registration</a></li>
            </ul>
        </nav>

        <div class="header-center clearfix">
            <a href="/" title="VIZIMPEX" class="logo">
                <img src="img/logo.png">
            </a>

            <div class="cart">
                <span class="icons-cart-big"></span>
                <div class="info">
                    <span class="items">2 položky</span>
                    <span class="price">15 459 Kč</span>
                </div>
            </div>

            <div class="search-bar">
                <span class="icons-search"></span>
                <form class="search">
                    <input type="text" class="search-text">
                    <input type="submit" class="search-submit">
                </form>
            </div>
        </div>

        <div class="filter-menu clearfix">
            <form class="filters">
                <div class="panel">
                    <div class="row"><label>Nadpis</label></div>
                    <div class="row tandem">
                        <select>
                            <option>vyberte</option>
                            <option>mofo</option>
                        </select>
                        <input type="text" placeholder="Zadejte číslo normy">
                    </div>
                    <div class="row"><label>Nadpis</label></div>
                    <div class="row">
                        <select>
                            <option>vyberte</option>
                            <option>mofo</option>
                        </select>
                    </div>
                </div>
                <div class="panel">
                    <div class="row"><label>Nadpis</label></div>
                    <div class="row">
                        <select>
                            <option>vyberte</option>
                            <option>mofo</option>
                        </select>
                    </div>
                    <div class="row"><label>Nadpis</label></div>
                    <div class="row">
                        <select>
                            <option>vyberte</option>
                            <option>mofo</option>
                        </select>
                    </div>
                </div>
                <div class="panel">
                    <div class="row"><label>Nadpis</label></div>
                    <div class="row">
                        <select>
                            <option>vyberte</option>
                            <option>mofo</option>
                        </select>
                    </div>
                    <div class="row"><label>Nadpis</label></div>
                    <div class="row">
                        <select>
                            <option>vyberte</option>
                            <option>mofo</option>
                        </select>
                    </div>
                </div>
                <div class="panel">
                    <div class="row"><label>Nadpis</label></div>
                    <div class="row">
                        <select>
                            <option>vyberte</option>
                            <option>mofo</option>
                        </select>
                    </div>
                    <div class="row submit-line">
                        <div class="reset">
                            <a href="#">RESET</a>
                        </div>
                        <input type="submit" class="submit" value="ZOBRAZIT">
                    </div>
                </div>
            </form>
        </div>

        <nav class="main-nav clearfix">
            <ul>
                <div class="divider">
                    <li><a href="/"><span>šroubky</span></a>
                        <div class="holder">
                            <ul>
                                <li><a href="/"><span class="image-container"></span><span class="title"><span>šroubky</span></span></a></li>
                                <li><a href="/"><span class="image-container"></span><span class="title"><span>šroubky</span></span></a></li>
                                <li><a href="/"><span class="image-container"></span><span class="title"><span>šroubky</span></span></a></li>
                                <li><a href="/"><span class="image-container"></span><span class="title"><span>šroubky</span></span></a></li>
                                <li><a href="/"><span class="image-container"></span><span class="title"><span>šroubky</span></span></a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="/"><span>šroubky</span></a></li>
                    <li><a href="/"><span>šroubky</span></a>
                        <div class="holder">
                            <ul>
                                <li><a href="/"><span class="image-container"></span><span class="title"><span>šroubky</span></span></a></li>
                                <li><a href="/"><span class="image-container"></span><span class="title"><span>šroubky</span></span></a></li>
                                <li><a href="/"><span class="image-container"></span><span class="title"><span>šroubky</span></span></a></li>
                                <li><a href="/"><span class="image-container"></span><span class="title"><span>šroubky</span></span></a></li>
                            </ul>
                        </div></li>
                </div>
                <div class="divider">
                    <li><a href="/"><span>šroubky</span></a></li>
                    <li><a href="/"><span>šroubky</span></a></li>
                    <li><a href="/" ><span>šroubky</span></a>
                        <div class="holder">
                            <ul>
                                <li><a href="/"><span class="image-container"></span><span class="title"><span>šroubky</span></span></a></li>
                                <li><a href="/"><span class="image-container"></span><span class="title"><span>šroubky</span></span></a></li>
                                <li><a href="/"><span class="image-container"></span><span class="title"><span>šroubky</span></span></a></li>
                                <li><a href="/"><span class="image-container"></span><span class="title"><span>šroubky</span></span></a></li>
                                <li><a href="/"><span class="image-container"></span><span class="title"><span>šroubky</span></span></a></li>
                                <li><a href="/"><span class="image-container"></span><span class="title"><span>šroubky</span></span></a></li>
                                <li><a href="/"><span class="image-container"></span><span class="title"><span>šroubky</span></span></a></li>
                                <li><a href="/"><span class="image-container"></span><span class="title"><span>šroubky</span></span></a></li>
                            </ul>
                        </div>
                    </li>
                </div>
                <div class="divider">
                    <li><a href="/"><span>šroubky<br> na dva řádky</span></a></li>
                    <li><a href="/"><span>šroubky</span></a></li>
                    <li><a href="/"><span><b>šroubky</b><br>a příslušenství</span></a>
                        <div class="holder">
                            <ul>
                                <li><a href="/"><span class="image-container"></span><span class="title"><span>šroubky</span></span></a></li>
                                <li><a href="/"><span class="image-container"></span><span class="title"><span>šroubky</span></span></a></li>
                                <li><a href="/"><span class="image-container"></span><span class="title"><span>šroubky</span></span></a></li>
                            </ul>
                        </div>
                    </li>
                </div>
                <div class="divider">
                    <li><a href="/"><span>šroubky</span></a></li>
                    <li><a href="/"><span>šroubky</span></a></li>
                    <li><a href="/"><span>šroubky</span></a></li>
                </div>
            </ul>
        </nav>
    </div>
</header>